# --- Web Config ---
WEB_MAX_AGE=3600
WEB_INDEX_FILE=index.html
WEB_DATA_PATH=web
WEB_PORT=80
WEB_BIND=0.0.0.0
WEB_PROXY_HEADER=X-Forwarded-For
WEB_TRUSTED_PROXIES=

# --- SEO Config ---
SEO_DATA_PATH=seo
SEO_GEO_HEADER=CF-IPCountry
SEO_LANGUAGES=en,id

# English (en)
SEO_LANG_EN_PREFIX=/en
SEO_LANG_EN_DEFAULT=false
SEO_LANG_EN_COUNTRY=

# Indonesian (id)
SEO_LANG_ID_PREFIX=
SEO_LANG_ID_DEFAULT=true
SEO_LANG_ID_COUNTRY=
